# Application configuration
PORT="13131"
RELAY_URL="wss://relay.example.com/"
RELAY_PUBKEY=""
RELAY_CONTACT=""

# OpenSearch configuration
OPENSEARCH_NODE="http://localhost:9200"
OPENSEARCH_INDEX="nostr-events"
OPENSEARCH_USERNAME=""
OPENSEARCH_PASSWORD=""
